asttokens==2.4.1=pyhd8ed1ab_0
backcall==0.2.0=pyh9f0ad1d_0
ca-certificates==2024.2.2=h56e8100_0
colorama==0.4.6=pyhd8ed1ab_0
comm==0.2.2=pyhd8ed1ab_0
debugpy==1.6.7=py38hd77b12b_0
decorator==5.1.1=pyhd8ed1ab_0
executing==2.0.1=pyhd8ed1ab_0
importlib-metadata==7.1.0=pyha770c72_0
importlib_metadata==7.1.0=hd8ed1ab_0
ipykernel==6.29.3=pyha63f2e9_0
ipython==8.12.0=pyh08f2357_0
jedi==0.19.1=pyhd8ed1ab_0
jupyter_client==8.6.1=pyhd8ed1ab_0
jupyter_core==4.12.0=py38haa244fe_0
libffi==3.4.4=hd77b12b_1
libsodium==1.0.18=h8d14728_1
matplotlib-inline==0.1.7=pyhd8ed1ab_0
nest-asyncio==1.6.0=pyhd8ed1ab_0
openssl==3.0.13=h2bbff1b_0
packaging==24.0=pyhd8ed1ab_0
parso==0.8.4=pyhd8ed1ab_0
pickleshare==0.7.5=py_1003
pip==23.3.1=py38haa95532_0
prompt-toolkit==3.0.42=pyha770c72_0
prompt_toolkit==3.0.42=hd8ed1ab_0
psutil==5.9.0=py38h2bbff1b_0
pure_eval==0.2.2=pyhd8ed1ab_0
pygments==2.17.2=pyhd8ed1ab_0
python==3.8.19=h1aa4202_0
python_abi==3.8=2_cp38
pywin32==227=py38h294d835_1
pyzmq==25.1.2=py38hd77b12b_0
setuptools==68.2.2=py38haa95532_0
six==1.16.0=pyh6c4a22f_0
sqlite==3.45.3=h2bbff1b_0
stack_data==0.6.2=pyhd8ed1ab_0
tornado==6.2=py38h294d835_0
traitlets==5.14.3=pyhd8ed1ab_0
typing_extensions==4.11.0=pyha770c72_0
vc==14.2=h21ff451_1
vs2015_runtime==14.27.29016=h5e58377_2
wcwidth==0.2.13=pyhd8ed1ab_0
wheel==0.41.2=py38haa95532_0
zeromq==4.3.5=hd77b12b_0
absl-py==2.1.0
aicsimageio==4.13.0
aicspylibczi==3.1.2
aiobotocore==2.5.4
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.6.0
asciitree==0.3.3
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.3
autograd==1.6.2
autograd-gamma==0.5.0
bioformats-jar==2020.5.27
botocore==1.31.17
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==3.0.0
cmake==3.29.2
contourpy==1.1.1
cryptography==42.0.5
csbdeep==0.8.0
cycler==0.12.1
czifile==2019.7.2
dask==2023.5.0
diplib==3.4.3
distributed==2023.5.0
elementpath==4.4.0
et-xmlfile==1.1.0
fitter==1.7.0
flatbuffers==24.3.25
fonttools==4.51.0
formulaic==1.0.1
frozenlist==1.4.1
fsspec==2023.6.0
future==1.0.0
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphlib-backport==1.1.0
grpcio==1.63.0
h5py==3.11.0
idna==3.7
imageio==2.34.1
imgaug==0.4.0
importlib-resources==6.4.0
interface-meta==1.3.0
jax==0.4.13
jgo==1.0.5
jmespath==1.0.1
jpype1==1.5.0
keras==2.10.0
keras-preprocessing==1.1.2
kiwisolver==1.4.5
lazy-loader==0.4
libclang==18.1.1
lifelines==0.27.8
llvmlite==0.41.1
locket==1.0.0
loguru==0.7.2
lxml==4.9.4
markdown==3.6
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mediapipe==0.10.11
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.8
msoffcrypto-tool==5.4.0
multidict==6.0.5
networkx==3.1
numba==0.58.1
numpy==1.24.4
oauthlib==3.2.2
olefile==0.47
ome-types==0.5.1.post1
ome-zarr==0.8.3
opencv-contrib-python==4.10.0.84
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
pandas==2.0.3
partd==1.4.1
patsy==0.5.6
pillow==10.3.0
protobuf==3.19.6
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pydantic==2.7.1
pydantic-compat==0.1.2
pydantic-core==2.18.2
pylibczirw==4.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywavelets==1.4.1
pyyaml==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
resource-backed-dask-array==0.1.0
rich==13.7.1
rich-click==1.8.0
rsa==4.9
s3fs==2023.6.0
scikit-image==0.21.0
scipy==1.10.1
scyjava==1.9.1
seaborn==0.13.2
shapely==2.0.4
sortedcontainers==2.4.0
sounddevice==0.4.7
staintools==2.1.2
statsmodels==0.14.1
sympy==1.12
tblib==3.0.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2023.2.28
toolz==0.12.1
tqdm==4.66.2
tzdata==2024.1
urllib3==1.26.18
validators==0.28.1
vega-datasets==0.9.0
werkzeug==3.0.2
win32-setctime==1.1.0
wrapt==1.16.0
xarray==2023.1.0
xmlschema==3.3.1
xmltodict==0.13.0
xsdata==24.3.1
yarl==1.9.4
zarr==2.15.0
zict==3.0.0
zipp==3.18.1
